<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>28.04.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id mollitia, nesciunt numquam perspiciatis
      quia repudiandae rerum ullam velit voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id mollitia, nesciunt numquam perspiciatis
      quia repudiandae rerum ullam velit voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id mollitia, nesciunt numquam perspiciatis
      quia repudiandae rerum ullam velit voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id mollitia, nesciunt numquam perspiciatis
      quia repudiandae rerum ullam velit voluptatem!</p>
  </div>
</div>
